.herobg {
  background-color: #f2f0f1;
}

.herocompanyno {
  font-size: 12px;
  color: #00000099;
}

.heroimgdiv {
  position: relative;
}

.heroimgdiv::after {
  position: absolute;
  content: "";
  background-image: url("../../../public/images/banner-b-star.png");
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;
}

.heroimgdiv::before {
  position: absolute;
  content: "";
  background-image: url("../../../public/images/banner-b-star.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 100px;
  left: 20px;
}

.herostatsdiv {
  padding: 0px 12px 0px 12px;
  position: relative;
}

.herostatsdiv:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #0000001a;
}

.herocontent p {
  color: #00000099;
}

.herostatsdiv:last-child {
  margin-top: 12px;
}

.bannerlogowrap img {
  max-width: 100px;
  max-height: 26px;
}

@media screen and (min-width: 440px) {
  .herostatsdiv:nth-child(2):before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #0000001a;
  }

  .herostatsdiv:last-child {
    margin-top: 0px;
  }
}

@media screen and (min-width: 640px) {
  .heroimgdiv::after {
    width: 70px;
    height: 70px;
    top: 60px;
    right: 70px;
  }

  .heroimgdiv::before {
    width: 40px;
    height: 40px;
    top: 220px;
    left: 63px;
  }
}

@media screen and (min-width: 1024px) {
  .herocontent h1 {
    max-width: 280px;
  }

  .herostatsdiv {
    padding: 0px 26px 0px 32px;
  }

  .herostatsdiv:first-child {
    padding: 0px 26px 0px 0px;
  }

  .herostatsdiv:last-child {
    padding: 0px 0px 0px 26px;
  }

  .bannerlogowrap img {
    max-width: 185px;
    max-height: 26px;
  }

   .heroimgdiv::after {
    width: 70px;
    height: 70px;
    top: 60px;
    right: 25px;
  }

  .heroimgdiv::before {
    width: 40px;
    height: 40px;
    top: 210px;
    left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .herocontent h1 {
    max-width: 490px;
  }

  .herocompanyno {
    font-size: 16px;
  }

  .bannerlogowrap img {
    max-width: 185px;
    max-height: 34px;
  }

    .heroimgdiv::after {
    width: 104px;
    height: 104px;
    top: 60px;
    right: -20px;
  }

  .heroimgdiv::before {
    width: 56px;
    height: 56px;
    top: 256px;
    left: 5px;
  }
}

@media screen and (min-width: 1536px) {
  .herocontent p {
    max-width: 560px;
  }

    .herostatsdiv {
    padding: 0px 32px 0px 32px;
  }

  .herostatsdiv:first-child {
    padding: 0px 32px 0px 0px;
  }

  .herostatsdiv:last-child {
    padding: 0px 0px 0px 32px;
  }

   .heroimgdiv::after {
    width: 104px;
    height: 104px;
    top: 106px;
    right: -20px;
  }

  .heroimgdiv::before {
    width: 56px;
    height: 56px;
    top: 346px;
    left: -22px;
  }

}
